# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/
venv/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/

# Datasets
dataset/sequences/
!dataset/sequences/_meta.json

# Artifacts
*.log
*.tmp

# Models
*.keras
*.h5
*.tflite
*.onnx
*.npz
*.npy

# Videos/images
*.mp4
*.mov
*.avi
*.png
*.jpg
*.jpeg
